@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* Track */
::-webkit-scrollbar-track {
    background: #5e9ea1;
    border-radius: 5px;
    border: 2px solid #006267;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #004d51;
    border-radius: 5px;
    border: 2px solid #006267;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00777d;
    border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
    color: rgb(40, 40, 40);
}

.main-container {
    display: flex;
    background-color: #5e9ea1;
    height: 100vh;
    justify-content: center;
    padding: 1em;
    box-sizing: border-box;
    background-image: url('../Images/Sprinkle.svg');
    background-attachment: fixed;
    background-position: center;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(53, 103, 105);
    min-width: 1200px;
    width: 85%;
    border-radius: 1em;
    border: 1px solid rgb(46, 94, 96);
    box-shadow: 0px 0px 10px 1px rgb(17, 53, 55);
}

.side-bar {
    margin: .5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 400px;
    background: rgb(46, 94, 96);
    border-radius: .75rem;
    border: 3px solid rgb(46, 94, 96);
}

.top-bar {
    display: flex;
    background-color: rgb(33, 75, 77);
    width: 98%;
    margin: .25em;
    border-radius: .5rem;
    height: 3em;
    box-shadow: 0px 0px 5px 0px rgb(12, 40, 41);
}

.user-img {
    display: flex;
    box-sizing: border-box;
    width: 50px;
}

/* .top-bar img {
    width: 25;
} */

.lower-bar {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 75, 77);
    width: 98%;
    margin: .25em;
    border-radius: .5rem;
    height: 500px;
    flex-grow: 2;
    box-shadow: 0px 0px 5px 0px rgb(12, 40, 41);
}

.chat-items {
    height: 4em;
    background-color: rgba(65, 88, 90, .6);
    border-radius: 5px;
    margin: .5em;
}

.message-box {
    margin: .5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(33, 75, 77);
    border-radius: .75rem;
    flex-grow: 2;
    box-shadow: 0px 0px 4px 0px rgb(12, 40, 41);
}

.chat-div {
    margin: 5px 0;
    height: 100%;
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

